<!-- 퀵메뉴 시작 -->
<div id="quickList">
    <ul class="list">
        <li>
            <a href="http://pf.kakao.com/_xjxeLxj" target="_blank">
                <div class="kakao"></div>
                <div class="cate">카톡상담</div>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/misopin_clinic" target="_blank">
                <div class="instagram" style="width: 24px; height: 24px; margin: 0 auto 5px; background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iIzNDMUUxRSIgZD0iTTcuOCAyQTUuOCA1LjggMCAwIDAgMiA3Ljh2OC40QTUuOCA1LjggMCAwIDAgNy44IDIyaDguNGE1LjggNS44IDAgMCAwIDUuOC01LjhWNy44QTUuOCA1LjggMCAwIDAgMTYuMiAySDcuOHptMCAxLjloOC40YTMuOSAzLjkgMCAwIDEgMy45IDMuOXY4LjRhMy45IDMuOSAwIDAgMS0zLjkgMy45SDcuOGEzLjkgMy45IDAgMCAxLTMuOS0zLjlWNy44YTMuOSAzLjkgMCAwIDEgMy45LTMuOXpNMTcuMjUgNS41YTEuMjUgMS4yNSAwIDEgMCAwIDIuNSAxLjI1IDEuMjUgMCAwIDAgMC0yLjV6TTEyIDdhNSA1IDAgMSAwIDAgMTAgNSA1IDAgMCAwIDAtMTB6bTAgMS45YTMuMSAzLjEgMCAxIDEgMCA2LjIgMy4xIDMuMSAwIDAgMSAwLTYuMnoiLz48L3N2Zz4=') center/contain no-repeat;"></div>
                <div class="cate">인스타그램</div>
            </a>
        </li>
        <li>
            <a href="board-page.html">
                <i data-feather="gift"></i>
                <div class="cate">이벤트</div>
            </a>
        </li>
        <li>
            <a href="calendar-page.html">
                <i data-feather="edit-3"></i>
                <div class="cate">예약하기</div>
            </a>
        </li>
        <li>
            <a href="tel:061-277-1001">
                <i data-feather="phone-call"></i>
                <div class="cate">전화상담</div>
                <div class="number pl">061-277-1001</div>
            </a>
        </li>
    </ul>
    <div class="progress-wrap">
        <span><i data-feather="arrow-up"></i></span>
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
    </div>
</div>
<!-- 퀵메뉴 끝 -->